export COMPOSE_PROJECT_NAME=tes
export COMPOSE_IGNORE_ORPHANS=True

# PostgreSQL
export POSTGRES_ADMIN_USER=admin
export POSTGRES_ADMIN_PASSWORD=supersecret
export PGADMIN_DEFAULT_EMAIL=admin@localdev.me
export PGADMIN_DEFAULT_PASSWORD=${POSTGRES_ADMIN_PASSWORD}